*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java_projects/SnakeSync/nbproject/private/
/java_projects/SnakeSync/build/
/java_projects/SnakeServer/nbproject/private/
/java_projects/SnakeServer/build/
/java_projects/SnakeClient/nbproject/private/
/java_projects/SnakeClient/build/
/java_projects/SnakeClient/dist/
/java_projects/SnakeServer/dist/
/java_projects/TestRMIIO/nbproject/private/
/java_projects/TestRMIIO/build/
/java_projects/TestRMIIO/dist/
/java_projects/TestWatch/nbproject/private/
/java_projects/TestApacheIO/nbproject/private/
/java_projects/TestApacheIO/build/
/java_projects/SnakeSync/dist/